.profile-details-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .profile-details-card {
    margin-top: 35px;
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: fit-content;
   
    
  }
  
  .profile-details-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid orange;
  }
  
  .profile-details-info table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .profile-details-info td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }