.aboutUs-container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: linear-gradient(135deg, #1e3c72, #2a5298);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1.5s ease-in-out;
}

.aboutUs-image {
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
    margin: 30px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.aboutUs-content, 
.aboutUs-vision, 
.aboutUs-mission, 
.aboutUs-values, 
.aboutUs-team, 
.aboutUs-contact {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 30px;
}

.aboutUs-content:hover, 
.aboutUs-vision:hover, 
.aboutUs-mission:hover, 
.aboutUs-values:hover, 
.aboutUs-team:hover, 
.aboutUs-contact:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
    border:2px solid rgb(145, 145, 145);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .aboutUs-container {
        padding: 20px;
    }

    .aboutUs-content, 
    .aboutUs-vision, 
    .aboutUs-mission, 
    .aboutUs-values, 
    .aboutUs-team, 
    .aboutUs-contact {
        padding: 20px;
        margin-bottom: 25px;
    }

    .aboutUs-image {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .aboutUs-content, 
    .aboutUs-vision, 
    .aboutUs-mission, 
    .aboutUs-values, 
    .aboutUs-team, 
    .aboutUs-contact {
        padding: 15px;
        margin-bottom: 20px;
    }

    .aboutUs-values li {
        font-size: 1em;
    }
}
