/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
    position: relative;
  }
  
  .navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
  }
  
  .navbar .search-input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    width: 80%;
  }
  
  .navbar .search-btn {
    padding: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navbar .search-btn i {
    font-size: 1.2rem;
  }
  
  .navbar .nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
  }
  
  .navbar .nav-links li {
    display: inline-block;
  }
  
  .navbar .nav-links a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .nav-button{
    background-color:#333 ;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    cursor: pointer;
  }

  
  .navbar .right-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .navbar .right-icons i {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .navbar .auth-links a {
    color: white;
    text-decoration: none;
  }
  
  .navbar .auth-links a:hover {
    text-decoration: underline;
  }
  
  .navbar .menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
  }
  
  .navbar .menu-icon .bar {
    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
  }
  
  .navbar .nav-links.active {
    display: block;
  }
  
  @media (max-width: 768px) {
    .navbar .nav-links {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
    }
  
    .navbar .menu-icon {
      display: flex;
    }
  
    .navbar .nav-links.active {
      display: flex;
    }
  
    .navbar .right-icons {
      display: none;
    }
  
    .navbar .search-form {
      display: none; /* Hide search bar on mobile */
    }
  }
  